/***** RESET *****/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--primary-font);
  color: var(--main-color);
  line-height: 1.5;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

/***** REUSEABLE *****/
:root {
  --primary-font: "Poppins", sans-serif;
  --main-color: #1c1e53;
  --accent-color: #fcd980;
  --tertiary-color: #2405f2;
  --heading-color: #282938;
  --navlink-color: #bbbbcb;
  --btn-border-color: rgba(244, 246, 252, 0.2);
  --btn-text-clr: #1b1c2b;
}

/***** NAVBAR *****/
.navbar-toggler {
  background-color: #fff;
}
nav {
  background-color: var(--main-color);
}
/* #cus-nav {
  width: 100vw !important;
} */
header .container {
  max-width: 128rem;
  width: 100%;
  padding: 0;
}
.container {
  max-width: 128rem;
  width: 100%;
  padding: 0;
}
.navbar {
  padding: 1.6rem 0;
}
.navbar * {
  color: var(--navlink-color);
}
.navbar-brand > img {
  width: 12.2rem;
  height: 2.8rem;
}
.navbar-nav {
  gap: 3.2rem;
}
.navbar-nav .nav-link.active {
  color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link:link,
.navbar-expand-lg .navbar-nav .nav-link:active {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0;
}
.nav-item:last-child .nav-link {
  margin-right: 4.8rem;
}
.nav-item:not(:first-child) .nav-link:hover {
  color: #fff;
}
.nav-btn {
  background-color: transparent;
  color: #fff;
  border: 2px solid var(--btn-border-color);
  border-radius: 4.1rem;
  padding: 1.6rem 4.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
}
.nav-btn:hover {
  border: 2px solid #fff;
}

/***** HERO SECTION *****/
.hero-section {
  background-color: var(--main-color);
  width: 100vw;
  /* height: 66.8rem; */
  padding-top: 12.5rem;
  padding-bottom: 12.8rem;
}
.hero-section .container {
  height: 100%;
}
.hero-section .row {
  height: 100%;
  align-items: center;
  gap: 6rem;
  margin: 0;
  justify-content: space-around;
}
.hero-section .col-6 {
  padding-left: 0;
  padding-right: 0;
}
.hero-section .col-6:first-child {
  width: 45%;
}
.hero-text h1 {
  font-size: 5.4rem;
  color: #fff;
  font-weight: 600;
  line-height: 7.4rem;
  margin-bottom: 2.4rem;
}
.hero-text p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  opacity: 0.7;
  line-height: 2.8rem;
  margin-bottom: 4.8rem;
}
.hero-text button {
  background-color: transparent;
  border: none;
}
.hero-text button:first-child {
  background-color: var(--accent-color);
  color: var(--btn-text-clr);
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 4.1rem;
  font-family: "Manrope", sans-serif;
  padding: 1.6rem 5.6rem;
  line-height: 3.2rem;
  transition: all 0.3s;
  margin-right: 4rem;
}
.hero-text button:first-child:hover {
  background-color: transparent;
  color: #fff;
  box-shadow: inset 0 0 0 3px var(--accent-color);
}
.hero-text button:last-child {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8rem;
  border-radius: 4.1rem;
  padding: 1.6rem 5.6rem;
}
.hero-section .hero-img {
  width: 49.9%;
}

/* WORK SECTION */
.how-we-work {
  background-color: #f4f6fc;
}
.how-we-work > .container > .row {
  padding-top: 12.8rem;
}
.work-section-heading h2 {
  font-size: 4.8rem;
  font-weight: 600;
  color: var(--heading-color);
  line-height: 6.4rem;
  margin-bottom: 1.6rem;
}
.work-section-heading p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--heading-color);
  opacity: 0.7;
  max-width: 40rem;
  line-height: 2.8rem;
  margin-bottom: 1.6rem;
}
.work-section-heading a {
  color: var(--tertiary-color);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.2rem;
}
.work-section-heading .link {
  display: flex;
  gap: 1.4rem;
}
.work-section-heading .link svg {
  height: 2.6rem;
  color: var(--tertiary-color);
  padding-top: 1rem;
}
.four-grid-container {
  row-gap: 4.8rem;
  margin-bottom: 12.8rem;
}
.four-grid .icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-bottom: 1.6rem;
}
.four-grid .icon img {
  width: 100%;
  position: absolute;
}
.four-grid .icon p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.2rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.four-grid h3 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.8rem;
  color: var(--heading-color);
  margin-bottom: 0.8rem;
}
.four-grid > p {
  max-width: 30.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: var(--heading-color);
  opacity: 0.7;
}

/* PROJECTS */
.projects .container {
  padding: 12.8rem 0;
}
.projects-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6.4rem;
}
.projects-title h3 {
  color: var(--heading-color);
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 6.4rem;
  margin-bottom: 0;
}
.projects-title p {
  margin: 0;
}
.projects-title a {
  color: var(--heading-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8rem;
}
.projects-gallery {
  height: 60rem;
  width: 100%;
}
.projects-gallery .row {
  gap: 32px;
  justify-content: space-between;
  margin: 0;
}
.projects-gallery .col-8 {
  width: 65.86%;
  padding: 0;
}
.projects-gallery .col-4 {
  width: 31.64%;
  padding: 0;
}
.gallery-main {
  height: 60rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.gallery-main:hover .main-overlay {
  left: 0;
}
.gallery-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-overlay {
  width: 46.98%;
  height: 100%;
  background: #1c1e53;
  background: linear-gradient(
    318deg,
    rgba(28, 30, 83, 1) 0%,
    rgba(28, 30, 83, 0.42) 100%
  );
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.4s;
}
.main-overlay * {
  margin-left: 4.8rem;
}
.main-overlay h4 {
  margin-top: 31.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  color: white;
  margin-bottom: 1.6rem;
}
.main-overlay p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: white;
  opacity: 80%;
  margin-right: 5.5rem;
  margin-bottom: 4rem;
}
.main-overlay a {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: #fcd980;
}
.gallery-side {
  height: 60rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.gallery-side-1,
.gallery-side-2 {
  position: relative;
  overflow: hidden;
}
.gallery-side-1:hover .side-overlay,
.gallery-side-2:hover .side-overlay {
  top: 0;
}
.side-overlay {
  width: 100%;
  height: 100%;
  background: #1c1e53;
  background: linear-gradient(
    297deg,
    rgba(28, 30, 83, 1) 0%,
    rgba(28, 30, 83, 0.42) 100%
  );
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.4s;
}
.side-overlay * {
  margin-left: 5.6rem;
}
.side-overlay h5 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  color: white;
  margin-top: 12.9rem;
  margin-bottom: 1rem;
  margin-right: 5.8rem;
}
.side-overlay a {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: #fcd980;
}

/* FEATURES */
.features {
  background-color: #f4f6fc;
}
.features-title {
  padding-top: 12.8rem;
  padding-bottom: 4.7rem;
}
.features-title p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: var(--heading-color);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.2rem;
}
.features-title h3 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 6.4rem;
  color: var(--heading-color);
  max-width: 20ch;
  margin: 0 auto;
  text-align: center;
}
.features-cards {
  padding-bottom: 12.8rem;
}
.features-cards-1 {
  gap: 32px;
  margin-bottom: 2.4rem;
}
.features-cards-2 {
  gap: 32px;
}
.f-card {
  max-width: 405px;
  background-color: white;
}
.f-card * {
  margin-left: 4.8rem;
}
.f-card img {
  display: inline-block;
  height: 35px;
  aspect-ratio: 1/1;
  margin-top: 5.8rem;
  margin-bottom: 2.2rem;
}
.f-card h5 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
  color: var(--heading-color);
  margin-bottom: 1.2rem;
}
.f-card p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: var(--heading-color);
  opacity: 0.7;
  margin-bottom: 4.8rem;
}

/*##############################################*/
/* box-shadow: inset 0 0 0 3px #fff; */
/************************/
/* BELOW 1440px */
/************************/
@media (max-width: 90em) {
  html {
    font-size: 56.25% !important;
  }
  header .container {
    padding: 0 4rem;
  }
  /* .hero-section .container { */
  /* max-width: 120rem; */
  /* padding: 0 4rem; */
  /* } */
  .hero-section .row {
    gap: 4.8rem;
  }
  .hero-section .col-6:first-child {
    width: 40%;
  }
  .hero-section .hero-img {
    width: 45%;
  }
}
/************************/
/* BELOW 1200px */
/************************/
@media (max-width: 75em) {
  html {
    font-size: 50% !important;
  }
  header .container {
    padding: 0 8rem;
  }
  .hero-section .container {
    /* max-width: 120rem; */
    padding: 0 4rem;
  }
  .navbar-nav {
    gap: 2.4rem;
  }
  .nav-item:last-child .nav-link {
    margin-right: 3.2rem;
  }
  .hero-section .row {
    gap: 3.2rem;
  }
  .hero-section {
    padding-top: 11rem;
    padding-bottom: 11rem;
  }
  .hero-text button:first-child {
    padding: 1.2rem 3.8rem;
    margin-right: 2.6rem;
    /* margin-bottom: 3.2rem; */
  }
  .hero-text button:last-child {
    padding: 1.2rem 3.8rem;
  }
}
/************************/
/* BELOW 896px */
/************************/
@media (max-width: 56em) {
  .hero-section .col-6:first-child {
    width: 45%;
  }
  .hero-section .hero-img {
    width: 50%;
  }
  .hero-section .row {
    gap: 1rem !important;
  }
  .hero-text h1 {
    font-size: 4.8rem;
    line-height: 6.2rem;
  }
  .hero-section {
    padding-top: 9rem;
    padding-bottom: 10rem;
  }
  .hero-text button:first-child {
    padding: 1.2rem 3rem;
    margin-right: 2.6rem;
    margin-bottom: 3.2rem;
  }
  .hero-text button:last-child {
    padding: 1.2rem 3rem;
  }
}
/************************/
/* BELOW 768px */
/************************/
@media (max-width: 56em) {
  header .container {
    padding: 0 4rem;
  }
  .hero-section .container {
    /* max-width: 120rem; */
    padding: 0 0rem;
  }
  .hero-section .row {
    flex-direction: column;
  }
  .hero-section .col-6:first-child {
    width: 70%;
  }
  .hero-section .hero-img {
    width: 70%;
  }
}
/************************/
/* BELOW 544px */
/************************/
@media (max-width: 34em) {
  html {
    font-size: 43.75% !important;
  }
  .hero-section .col-6:first-child {
    max-width: 95%;
  }
  .hero-section .hero-img {
    max-width: 95%;
  }
}
/************************/
/* BELOW 416px */
/************************/
@media (max-width: 26em) {
  .hero-section .col-6:first-child {
    width: 95%;
    padding: 0 2.4rem;
  }
  .hero-section .hero-img {
    width: 95%;
    padding: 0 2.4rem;
  }
}
/************************/
/* BELOW 320px */
/************************/
@media (max-width: 20em) {
}
/* MOBILE OVERLAY MENU */
@media (max-width: 991px) {
  #navbarSupportedContent {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 1049;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    transition: top 0.4s ease;
  }
  /* SHOW STATE */
  #navbarSupportedContent.show {
    top: 0;

    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  /* NAV LIST */
  #navbarSupportedContent .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0 !important;
    padding: 0;
  }
  /* LINKS */
  #navbarSupportedContent .nav-link {
    font-size: 1.5rem;
    text-align: center;
  }
  /* BUTTON */
  .nav-btn {
    margin: 0;
  }
  /* TOGGLER ABOVE OVERLAY */
  .navbar-toggler {
    position: relative;
    z-index: 1051;
  }
  #navbarSupportedContent.show .nav-item:last-child .nav-link {
    margin-right: 0 !important;
  }
}
